* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Effra, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#fff;
    background-image: url(../img/background.jpg);
}

.header_container {
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1310px;
    margin: 0 auto;
    padding: 25px 15px;
}

.logo_intro {
    width: 40px;
    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.name_company {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.nav {
    font-size: 18px;
}

.nav_link {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
}

.registration {
    display: flex;
    align-items: center;
}

.registration_button {
    background-color: #fff;
    border-radius: 40px;
    padding: 10.5px 30px;
    cursor: pointer;
    text-decoration: none; /* Прибирає лінію */ 
}

.main_content {
    font-size: 72px;
    padding-top: 140px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.main_content_align {
    font-size: 72px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.intro_content_description {
    font-weight: 400;
    color: #8B8B8B;
    text-align: center;
    padding-top: 24px;
    line-height: 1.65em; 
    padding-bottom: 28px;
}

.button {
    border-radius: 40px;
    padding: 16px 32px;
    text-decoration: none;
}

.intro_content_button{
    font-weight: 700;
    color: #000;
    background: #A8FF35;
}

.intro_content_wrapper {
    padding-top: 30px
}

.arrow_setting {
    width: 29px;
    height: 35px;
}

.button_additions_text{
    font-family: 'Ink Free', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 100px;
    text-align: center;
    transform: rotate(6deg);
}

.button_additions {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.header_btn {
    display: none;
}

.header_btn span {
    position: absolute;
    left: 50%;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #fff;
    transform: rotate(0) translateX(-50%);
    transition: all 300ms linear;
    transform-origin: left center;
}

.header_btn span:first-child {
    top: 7px;
}

.header_btn span:last-child {
    bottom: 7px;
}

.header_container_collapsed .header_btn span:first-child {
    top: 11px;
    transform: rotate(45deg) translateX(-50%);
}

.header_container_collapsed .header_btn span:last-child {
    bottom: 11px;
    transform: rotate(-45deg) translateX(-50%);
}

@media screen and (max-width: 1100px) {
    .header {
        position: relative;
        padding-top: 94px;
        width: 100%;
    }

    .header_container {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: transparent;
        transition: all 300ms linear;
        overflow: hidden;
        max-height: 94px;
    }

    .name_company {
        display: none;
    }

    .registration {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 300ms linear;
    }

    .nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 300ms linear;
    }

    .header_btn {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
    }

    .header_container_collapsed {
        background-color: #000;
        max-height: initial;
    }

    .header_container_collapsed .registration {
        opacity: 1;
        transform: translateX(0);
    }

    .header_container_collapsed .nav {
        opacity: 1;
        transform: translateX(0);
    }

    .nav_link {
        text-align: center;
        margin: 20px 0;
    }

    .registration_button {
        margin: 20px 0;
    }
}